body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.card-container {
    background-color: #333;
    padding: 20px; 
}

header {
    background-color: #6B45E4;
    color: #fff;
    padding: 120px 120px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

.revoke {
    background-color: transparent;
    color: rgb(233, 142, 142);
    border: 2px solid #a55c5cd5;
    cursor: pointer;
    margin-right: auto;
    border-radius: 4px;
    padding: 6px 11px;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -30px; 
}

.logo {
    flex-grow: 1;
    text-align: center;
    margin-left: 65px;
}

.logo img {
    width: 250px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle; 
    border-radius: 3px;
    background-color: white
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: smaller;
}

nav a:hover {
    color: #ffd700;
}

.disclaimer {
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.lockimg {
    width: 20px;
    margin-right: 10px;
}

.card {
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 88%; 
    margin: 0 auto;
    position: relative;
    top: -98px; 
    z-index: 2; 
    overflow: hidden; 
}
.card .card-header {
    color: #464242;
    padding: 10px;
    display: flex;
   
}

.card-font{
    color: #464242;
    text-align: left;
    font-size:xx-large;
    font-weight: lighter;
}

.card-header img {
    margin-right: 10px; 
    width: 80px;
}

.risk-score {
    display: flex;
    align-items: center;
    padding-left: 990px;
    font-size: smaller;
}

.risk-button {
    background-color:#c4a7a7;
    border: none;
    color: #b9aaaa;
    cursor: pointer;
    margin-right: 10px;
}

.divider {
    width: 100%;
    margin: 10px 50px;
    border: none;
    border-bottom: 1.5px solid #ccc;
}

.box-container {
    display: flex;
    margin: 150px ;
    align-items: right;
}

.box-container .card {
    width: 300px;
    height: 200px;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    box-shadow: #111111;
}

.box-container.card h3 {
    margin-top: 10px; 
    font-size: large;
    font-style: normal;
}

.box-container .card h4 {
    margin-top: 5px;
    font-size: medium;
    font-style: normal;
}

.card p {
    margin-bottom: 120px; 
    text-align: center;
}

hr {
    width: 100%;
    margin: 3px auto 5px;
    border: 1px solid #ddd;
}


.card-table {
    margin-top: 10px;
    border-radius: 6px;
}

.card-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.card-table th,
.card-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.card-table th {
    background-color: #f2f2f2;
}

.card-table caption {
    font-size: larger;
    margin-bottom: 10px;
}

.rounded-lg {
    border-radius: 0.5rem;
}
.shadow, .shadow-md {
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}